
.person {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  align-items: center;
  padding-bottom: 20px;
  align-items: center;
}

img {
  height: 240px;
  width: 240px
}